map $http_x_forwarded_proto $chartdb_forwarded_proto {
    default $http_x_forwarded_proto;
    "" $scheme;
}

server {
    listen       80;
    listen  [::]:80;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files  $uri $uri/ /index.html;
    }

    location /api/ {
        client_max_body_size 50m;
        resolver 127.0.0.11 valid=10s;
        set $access_server http://access-server:8788;
        proxy_pass $access_server;
        proxy_http_version 1.1;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto $chartdb_forwarded_proto;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_no_cache 1;
        proxy_cache_bypass 1;
        add_header Cache-Control "no-store" always;
    }

    location /config.js {
        default_type application/javascript;
        return 200 "window.env = {
            OPENAI_API_KEY: \"$OPENAI_API_KEY\",
            OPENAI_API_ENDPOINT: \"$OPENAI_API_ENDPOINT\",
            LLM_MODEL_NAME: \"$LLM_MODEL_NAME\",
            HIDE_CHARTDB_CLOUD: \"$HIDE_CHARTDB_CLOUD\",
            DISABLE_ANALYTICS: \"$DISABLE_ANALYTICS\"
        };";
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
